<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached">
      <div class="item">
        <img class="ui centered rounded image custom" src="<%= blog.image %>">
      </div>
      <div class="content">
        <span style="margin-left: 34em;">
          <strong>
            <%= blog.created.toDateString() %>
          </strong>
        </span>
      </div>
      <div class="description paragraph">
         <p> <%- blog.body %> </p>
      </div>
      <a class="ui orange basic button" href="/blogs/<%=blog._id%>/edit">Update</a>
      <form id="delete-button" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
        <button  class="ui red basic button">Delete</button>
      </form>
    </div>
</div>

<% include ./partials/footer %>